div.number-stat {
    color: #73879c;
    display: flex;
    flex-direction: row;
    min-width: 5vw;
    min-height: 67px;
    justify-content: space-around;
    border-left: .25rem solid;
    margin-bottom: 20px;
    width: 265px;
}

.number-stat-details {
    box-sizing: border-box;
    flex-direction: column;
    height: 7vh;
    display: flex;
    justify-content: space-evenly;
}

.number-stat-title {
    font-size: 16px;
}

.number-stat-icon {
    color: #dddfeb;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
}
