.stat-item {
    box-shadow: 0 0.15rem .50rem 0 rgba(58,59,69,.15);
    border-radius: .35rem;
    border: 1px solid #e3e6f0;
    margin-right: 20px;
    height: 100%;
    padding: 0 20px;
    background-color: #ffffff;
    max-width: 220px;
}

.home-wrapper {
    display: flex;
    margin: 0 10vw;
    flex-wrap: wrap;
    justify-content: start;
    max-width: 1200px;
}

@media screen and (min-width: 1024px) {
    .stat-item {
        margin-right: 3vw;
    }
}
