.create-test-link {
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.create-test-link .add-test-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-color: #1cc88a;
    max-width: 20vw;
    height: 100%;
}

.header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    color: white;
}

.header-logo {
    max-width: 35vw;
    background-color: #1cc88a;
    justify-content: center;
    padding: 0 20px;
}
