.collapsible-test-suite h2 {
    font-weight: 600;
    font-size: 1.1rem;
    color: #4e73df;
    background-color: rgb(248,249,252);
    margin: 0;
    padding: 15px;
}

.collapsible-test-suite table {
    width: 100%;
}
