.top-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    top: 0;
    margin-top: 20px;
}

.stat-item {
    box-shadow: 0 0.15rem .50rem 0 rgba(58,59,69,.15);
    border-radius: .35rem;
    border: 1px solid #e3e6f0;
    margin-right: 20px;
    height: 100%;
    padding: 0 20px;
}
