.test-suite td{
    padding: 10px;
}

.test-suite .color-failure {
    background-color: #ff6384;
    color: #ffffff;
}

.test-suite .color-skip {
    background-color: #FFCE56;
    color: #ffffff;
}

.collapsed .test-name:before {
    content: '\25B6';
    color: #73879c;
    font-size: 12px;
    bottom: 1px;
    position: relative;
    margin-right: 2px;
}

.expanded .test-name:before {
    content: '\25BC';
    color: #73879c;
    font-size: 12px;
    bottom: 1px;
    position: relative;
    margin-right: 2px;
}

.collapsed .expanded-details {
    display: none;
}
